html{
	margin:0;
	padding: 0;

	font: normal 100%/1.4 Georgia,serif;
}

.masthead{
	padding: 1em;
	background-image: url("../img/code.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #E6E6FA;
	color: #fff;
}
.masthead a{
	text-decoration: none;
	color: inherit;
}

.current{
	background-color: #E6E6FA;
}

.nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #FFFACD;
	color: #fff;
}

.nav > li{
	display: inline-block;
}

.nav a{
	text-decoration: none;
	color: inherit;
}

.nav-top{
	font-size: 1.5rem;
}