html{
	margin:0;
	padding: 0;

	background-image: url("../img/code.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.5;

	font: normal 100%/1.4 Georgia,serif;

	color:#fff; 
}

.masthead{
	padding: 1em;
	background-image: url("../img/lodging.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000531;
	color: #fff;
}

.current{
	background-color: #000531;
	color: #fff;
}

.nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav > li{
display: inline-block;
}

.nav a{
	color: #fff;
	text-decoration: none;
}

.nav-top{
	font-size: 1.5rem;
}