.layout-transparent {
  background-color: #B0C4DE;
  /*url('{{site.baseurl}}/img/bg2.jpg') center / cover*/
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
  color: white;
}

.demo-nav > .demo-nav__button{
    color: white;
    text-decoration: none; 
}
.right {
    text-align: right;
}

#logo{
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#title{
	background-color: #E6E6FA;
	text-align: center;
	text-transform: uppercase;
}

.current{
	background-color: #E6E6FA;
}

.nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #800000;
	color: #778899;
}

.nav > li{
	display: inline-block;
}

.nav a{
	text-decoration: none;
	color: inherit;
}

.nav-top{
	font-size: 1.5rem;
}

.titin{
	text-align: center;
	text-transform: uppercase;
}
/*Style for the cards on category*/

.demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
          }
          .demo-card-square > .mdl-card__title {
            color: #fff;
            background-color: #46B6AC;
          }

/* THE STYLE FOR THE CARDS ON THE INDEX */

.mdl-card {
    width: auto;
    margin: 0 auto;
  }
.angular > .demo-card-wide .mdl-card__title{
    color: #fff;
    height: 176px;
    background: url('../img/anjs.png') center / cover;
    background-color: #b22222;
  }
.java > .demo-card-wide .mdl-card__title{
    color: #fff;
    height: 176px;
    background: url('../img/js.png') center / cover;
    background-color: #ffd700;
}
.html > .demo-card-wide .mdl-card__title{
    color: #fff;
    height: 176px;
    background: url('../img/ht5.png') center / cover;
    background-color: #FF8C00;
}
.css > .demo-card-wide .mdl-card__title{
    color: #fff;
    height: 176px;
    background: url('../img/css3.png') center / cover;
    background-color: #6495ED;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
  }