<nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
	{% if page.category %}
		{% if page.previous and page.previous.categories contains page.category %}
		<a rel="prev" href="{{site.baseurl}}{{page.previous.url}}" class="demo-nav__button">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900"role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
				<i class="material-icons">arrow_back</i>
				<span class="mdl-button__ripple-container">
					<span class="mdl-ripple"></span>
				</span>
			</button>
			Older
		</a>
		{% endif %}
		<div class="mdl-layout-spacer"></div>
		{% if page.next and page.next.categories contains page.category %}
		<a rel="next" href="{{site.baseurl}}{{page.next.url}}" class="demo-nav__button">
			Newer
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900"role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
				<i class="material-icons">arrow_forward</i>
				<span class="mdl-button__ripple-container">
					<span class="mdl-ripple"></span>
				</span>
			</button>
		</a>
		{% endif %}
	{% endif %}
</nav>


<div class="mdl-grid">
	<nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
		<a rel="prev" href="{{site.baseurl}}{{page.previous.url}}" class="demo-nav__button">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900"role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
				<i class="material-icons">arrow_back</i>
				<span class="mdl-button__ripple-container">
					<span class="mdl-ripple"></span>
				</span>
			</button>
			Older
		</a>
		<div class="section-spacer"></div>
		<a rel="next" href="{{site.baseurl}}{{page.next.url}}" class="demo-nav__button">
			Newer
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900"role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
				<i class="material-icons">arrow_forward</i>
				<span class="mdl-button__ripple-container">
					<span class="mdl-ripple"></span>
				</span>
			</button>
		</a>
	</nav>
</div>