<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Main Menu</span>
    <nav class="mdl-navigation">
    	<div class="drawer-separator"></div>
    	<span class="mdl-navigation__link" href="">Categories</span>
    	<a class="mdl-navigation__link" href="{{site.baseurl}}/AJS.html">Angular JS</a>
    	<a class="mdl-navigation__link" href="{{site.baseurl}}/HTML.html">HTML 5</a>
    	<a class="mdl-navigation__link" href="{{site.baseurl}}/CSS.html">CSS</a>
    	<a class="mdl-navigation__link" href="{{site.baseurl}}/JS.html">Java Script</a>
    	<a class="mdl-navigation__link" href="{{site.baseurl}}/#">Python</a>
    	<div class="drawer-separator"></div>
    	<dl>
    		<dt class="qp-ui goog-zippy-header goog-zippy-collapsed" data-qp-ui="{ 'SideNavZippy': false }" tabindex="0" role="tab" aria-expanded="false" data-qp-ui-data-id="qp:4">Categories</dt>
    			<div style="overflow: hidden; display: none;">
    				<dd>
    					<a class="mdl-navigation__link" href="{{site.baseurl}}/AJS.html">Angular JS</a>
    					<a class="mdl-navigation__link" href="{{site.baseurl}}/HTML.html">HTML 5</a>
    					<a class="mdl-navigation__link" href="{{site.baseurl}}/CSS.html">CSS</a>
    					<a class="mdl-navigation__link" href="{{site.baseurl}}/JS.html">Java Script</a>
    					<a class="mdl-navigation__link" href="{{site.baseurl}}/#">Python</a>
   	 				</dd>
   	 			</div>
    	</dl>	
    </nav>
</div>