<ul>
	{% for news in site.posts limit: 5 %} 
		{% if include.category == "all" %}
			<li>	
				<h4><a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a></h4>
				<h5>{{news.meta}}</h5>
				<p>{{news.category}}</p>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--5-col-phone angular">
		<H2>left</H2>
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone angular">
		<H2>hello</H2>
	</div>
	<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--5-col-phone angular">
		<H2>right</H2>
	</div>
</div>