{% for news in site.posts limit: 5 %} 
	{% if include.category == "all" %}	
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-card mdl-shadow--4dp demo-card-wide">
						<div class="mdl-card__title" >
							<h2 class="mdl-card__title-text">{{news.title}}</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<h5>{{news.meta}}</h5>
						</div>
						<div class="mdl-card__actions mdl-card--border">
       						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{site.baseurl}}{{news.url}}">Read More</a>
   						</div>
					</div>
				</div>
			</div>
	{% endif %}
{% endfor %}