---
layout: header
---
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="demo-blog__posts mdl-cell mdl-cell--8-col">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3>{{page.title}}</h3>
              
            </div>
            <div class="mdl-color-text--grey-700 mdl-card mdl-card__supporting-text">
              <div>
                <h6>{{page.Author}}</h6>
                <p>{{page.Date}}</p>
              </div>
              {{page.content}}
              {% for page.Links %}
                {{page.Links}}
              {% endfor %}
            </div>
          </div>
          {% include button.html%}
        </div>
	<div class="mdl-cell mdl-cell--2-col"></div>
</div>