---
layout: header
---

<h1 id="title">{{page.title}}</h1>

<h5>{{content}}</h5>

<p>{{page.source}}</p>

<!-- {% if page.previous %}
	<a rel="prev" href="{{site.baseurl}}{{page.previous.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i> Back &larr;</i></button></a>
{% endif %}
{% if page.next %}
	<a rel="next" href="{{site.baseurl}}{{page.next.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i>&rarr; next</i></button></a>
{% endif %} -->

<!-- SECOND OPTION -->
{% if page.category == "AJS" %}
	{% if page.previous and page.previous.categories contains category == "AJS" %}
		<a rel="prev" href="{{site.baseurl}}{{page.previous.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i> Back &larr;</i></button></a>
	{% endif %}
	{% if page.next and page.next.categories contains include.category %}
		<a rel="next" href="{{site.baseurl}}{{page.next.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i>&rarr; next</i></button></a>
	{% endif %}
{% endif %}
