---
layout: header
---

<h1 id="title">{{page.title}}</h1>

<h5>{{content}}</h5>

<p>{{page.source}}</p>

<!-- {% if page.previous %}
	<a rel="prev" href="{{site.baseurl}}{{page.previous.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i> Back &larr;</i></button></a>
{% endif %}
{% if page.next %}
	<a rel="next" href="{{site.baseurl}}{{page.next.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i>&rarr; next</i></button></a>
{% endif %} -->

<!-- SECOND OPTION -->

<!-- {% if page.next and page.next.categories contains include.category %}

  <a rel="prev" href="{{site.baseurl}}{{page.previous.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i> Back &larr;</i></button></a>

{% else if page.previous and page.previous.categories contains include.category %}

  <a rel="next" href="{{site.baseurl}}{{page.next.url}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i>&rarr; next</i></button></a>

{% endif %} -->

<!-- THIRD OPTION -->

{% for post in site.categories %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for post in site.categories %}
    {% if post_index0 == forloop.index %}
    	{% assign next_post = post.url %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post.url %}
    {% endif %}
{% endfor %}
{% if next_post %}
    <a href="{{ next_post }}">Next Post</a> <br>
{% endif %}
{% if prev_post %}
    <a href="{{ prev_post }}">Previous Post</a> <br>
{% endif %}