---
layout: default
---

<style>
.layout-transparent {
  background: url('{{site.baseurl}}/../img/bg.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>
<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">The CS Blooger</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="https://www.facebook.com/miguel.reynoso.12"><img src="./../img/socialicons/facebook.png"></a>
        <a class="mdl-navigation__link" href="https://github.com/Flatcova"><img src="{{baseurl}}/img/socialicons/Github.png"></a>
        <a class="mdl-navigation__link" href="https://www.linkedin.com/profile/view?id=417492945&trk=hp-identity-name"><img src="./../img/socialicons/linkedin.png"></a>
        <a class="mdl-navigation__link" href="https://plus.google.com/106478533010304875860/posts"><img src="./../img/socialicons/g+.png"></a>
      </nav>
    </div>
  </header>
  {% include nav.html %}
  <main class="mdl-layout__content">
    {{content}}
  </main>
</div>