---
layout: default
---
<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">The CS Blooger</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{site.baseurl}}">Home</a>
        <a class="mdl-navigation__link" href="{{site.baseurl}}/#">Help</a>
        <a class="mdl-navigation__link" href="{{site.baseurl}}/#">About</a>
      </nav>
    </div>
  </header>
  {% include nav.html %}
  <main class="mdl-layout__content">
    <a name="top"></a>
    <div class="mdl-grid mdl-cell mdl-cell--12-col"></div>
    {{content}}
  </main>
  {% include footer.html %}
</div>
