---
layout: default
---

<style>
.layout-transparent {
  background: url('{{site.baseurl}}/img/bg2.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
  color: white;
}
</style>
<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">The CS Blooger</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{site.baseurl}}">Home</a>
        <a class="mdl-navigation__link" href="{{site.baseurl}}/news.html">News</a>
        <a class="mdl-navigation__link" href="{{site.baseurl}}/#">About</a>
      </nav>
    </div>
  </header>
  {% include nav.html %}
  <main class="mdl-layout__content">
    <a name="top"></a>
    <div class=".mdl-grid.mdl-grid--no-spacing" id="content">{{content}}</div>
  </main>
  {% include footer.html %}
</div>
